body{
    background-color:rgb(2, 1, 21);
}

.allcards{
}

div.card {
    overflow: hidden;
}

.card {
    width: 100%;
    padding: 9px 20px 9px 20px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #dfdfdf;
    box-sizing: border-box;
    height: 100% !important;
}

.mbcard{
    width: 100%;
    padding: 9px 20px 9px 20px;
    padding-top: 5px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #dfdfdf;
    box-sizing: border-box;
    height: 95% !important;
}