<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base ::
    Layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="container text-white">
                <div class="card  mt-5 col-md-4 offset-md-4" style="background-color: black;">
                    <div class="card-title">
                        <h1 class="text-center mt-4 text-white">Change Password</h1>
                    </div>
                    <div class="card-body mb-5 mt-3">
                        <form th:action="@{/changepasswordsubmit}" method="post">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control"
                                    id="password"
                                    name="password"
                                    aria-describedby="emailHelp"
                                    placeholder="Enter Password">
                                <small id="emailHelp" class="form-text
                                    text-muted">We'll
                                    never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Verify Password</label>
                                <input type="password" class="form-control"
                                    id="password"
                                    name="verifypassword"
                                    aria-describedby="emailHelp"
                                    placeholder="Verify Password">
                                <small id="emailHelp" class="form-text
                                    text-muted">We'll
                                    never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-2">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>