<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base ::
    Layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="container mt-3 mb-3">
                <div class="row">
                    <div class="" style="width: 100%;">
                        <div class="container">
                            <form class="form">
                                <input class="form-control mr-sm-2"
                                    type="search"
                                    placeholder="Search for Products">
                                <a href="#" type="button" class="btn btn-block
                                    btn-outline-dark text-white mt-2
                                    bg-primary">Search</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <h3 class="mt-3 font-weight-bold font-italic">Shop By Brand</h3>
                    <div class="card">
                        <div class="card-body bg-dark">
                            <table class="table-responsive">
                                <tr>
                                    <td class="col-xl-4 mt-3 bg-dark"
                                        th:each="item : ${brand}">
                                        <div class="card mb-2">
                                            <div class="card-body ">
                                                <a class="text-dark"
                                                    th:href="@{url}"
                                                    style="text-decoration:
                                                    none;"><span
                                                        class="font-weight-bold
                                                        font-italic mb-5"
                                                        th:text="${item}"></span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h3 class="mt-5 font-weight-bold font-italic">Shop By
                        Category</h3>
                    <div class="card">
                        <div class="card-body bg-dark">
                            <table class="table-responsive">
                                <tr>
                                    <td class="col-xl-4 mt-3 bg-dark"
                                        th:each="item : ${category}">
                                        <div class="card mb-2">
                                            <div class="card-body ">
                                                <a class="text-dark"
                                                    th:href="@{url}"
                                                    style="text-decoration:
                                                    none;"><span
                                                        class="font-weight-bold
                                                        font-italic mb-5"
                                                        th:text="${item}"></span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </section>
        </body>
    </html>