<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base ::
    Layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="container text-white">
                <div class="card col-md-4 offset-md-4" style="background-color: black;margin-top: 6rem;">
                    <div class="card-title">
                        <h1 class="text-center mt-4 text-white">Login</h1>
                    </div>
                    <div th:if="${param.error}" class="alert alert-danger mt-2">
                        <div class="container text-center">
                            Invalid Username or Password
                        </div>
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success
                        mt-2">
                        <div class="container text-center">
                            Successfully Logged Out
                        </div>
                    </div>
                    <div
                        th:if="${session.msg}"
                        class="container">
                        <div
                            class="text-center"
                            th:classappend="${'alert alert-'+session.msg.type}"
                            role="alert">
                            <span
                                th:text="${session.msg.content}">
                            </span>
                            <th:block
                                th:text="${@sessionHelper.removeAttributeFromSession()}"></th:block>
                        </div>
                    </div>
                    <div class="card-body mb-5 mt-3">
                        <form th:action="@{/doprocess}" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control"
                                    id="exampleInputEmail1"
                                    name="username"
                                    aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <small id="emailHelp" class="form-text
                                    text-muted">We'll
                                    never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control"
                                    id="exampleInputPassword1"
                                    name="password"
                                    placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary
                                btn-block">Welcome Back</button>
                        </form>
                        <div class="mt-5">
                            <a class="font-weight-bold text-white"
                                th:href="@{/forgot}">forgot Password?</a><br><br>
                            <a class="font-weight-bold text-white"
                                th:href="@{/reg}">Create an Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>